{% extends 'base.html' %}
{% load static %}
 
{% block title %}
{{ title }} {{ short_word }}
{% endblock %}

    {% block content %}
      <div class="row">
        <aside class="col-12 col-md-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
            {% if post.text in post.group.slug %}  
            <li class="list-group-item">
              Группа: {{ post.group.slug }}
              <a href="{% url 'posts:group_posts' post.group.slug %}">
                все записи группы
              </a>
            {% endif %}
            </li>
            <li class="list-group-item">
              Автор: {{ post.author.get_full_name }}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Всего постов автора:  <span >{{ posts_count }}</span>
            </li>
            <li class="list-group-item">
              <a href="{% url 'posts:profile' post.author.username %}">
                все посты пользователя
              </a>
            </li>
          </ul>
        </aside>
        <article class="col-12 col-md-9">
          <p>
          {{ post.text }}
          </p>
        </article>
      </div> 
    {% endblock %}
